In [6]:
import pandas as pd
import numpy as np

In [14]:
df_rate=pd.read_csv("ratings.csv")
df_rate

        userId  movieId  rating   timestamp
0            1        1     4.0   964982703
1            1        3     4.0   964981247
2            1        6     4.0   964982224
3            1       47     5.0   964983815
4            1       50     5.0   964982931
...        ...      ...     ...         ...
100831     610   166534     4.0  1493848402
100832     610   168248     5.0  1493850091
100833     610   168250     5.0  1494273047
100834     610   168252     5.0  1493846352
100835     610   170875     3.0  1493846415

[100836 rows x 4 columns]

In [15]:
df_rate["timestamp"]=pd.to_datetime(df_rate["timestamp"],unit='s')

In [16]:
df_tag=pd.read_csv("tags.csv")
df_tag.head()

   userId  movieId              tag   timestamp
0       2    60756            funny  1445714994
1       2    60756  Highly quotable  1445714996
2       2    60756     will ferrell  1445714992
3       2    89774     Boxing story  1445715207
4       2    89774              MMA  1445715200

In [17]:
grouped_tag = df_tag.groupby(['userId', 'movieId'])['tag'].apply('|'.join).reset_index()
grouped_tag

      userId  movieId                                      tag
0          2    60756       funny|Highly quotable|will ferrell
1          2    89774               Boxing story|MMA|Tom Hardy
2          2   106782  drugs|Leonardo DiCaprio|Martin Scorsese
3          7    48516                             way too long
4         18      431                 Al Pacino|gangster|mafia
...      ...      ...                                      ...
1770     606     6107                             World War II
1771     606     7382                                for katie
1772     606     7936                                  austere
1773     610     3265                  gun fu|heroic bloodshed
1774     610   168248                         Heroic Bloodshed

[1775 rows x 3 columns]

In [18]:
# Merge df1 and df2 based on 'userId' and 'movieId' 
merged_df = pd.merge(df_rate[['userId', 'movieId', 'rating','timestamp']],
                     grouped_tag[['userId', 'movieId', 'tag']],
                     how='left',
                     on=['userId', 'movieId'])

# Display the merged DataFrame
merged_df

        userId  movieId  rating           timestamp               tag
0            1        1     4.0 2000-07-30 18:45:03               NaN
1            1        3     4.0 2000-07-30 18:20:47               NaN
2            1        6     4.0 2000-07-30 18:37:04               NaN
3            1       47     5.0 2000-07-30 19:03:35               NaN
4            1       50     5.0 2000-07-30 18:48:51               NaN
...        ...      ...     ...                 ...               ...
100831     610   166534     4.0 2017-05-03 21:53:22               NaN
100832     610   168248     5.0 2017-05-03 22:21:31  Heroic Bloodshed
100833     610   168250     5.0 2017-05-08 19:50:47               NaN
100834     610   168252     5.0 2017-05-03 21:19:12               NaN
100835     610   170875     3.0 2017-05-03 21:20:15               NaN

[100836 rows x 5 columns]

In [7]:
df_title=pd.read_csv("movies.csv")
df_title

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
...,...,...,...
9737,193581,Black Butler: Book of the Atlantic (2017),Action|Animation|Comedy|Fantasy
9738,193583,No Game No Life: Zero (2017),Animation|Comedy|Fantasy
9739,193585,Flint (2017),Drama
9740,193587,Bungo Stray Dogs: Dead Apple (2018),Action|Animation
9741,193609,Andrew Dice Clay: Dice Rules (1991),Comedy

In [20]:
len(df_title["movieId"].sort_values().unique())

9742

In [21]:

# Merge df1 and df2 based on 'userId' and 'movieId'
df = pd.merge(merged_df, df_title, on=['movieId'])
df.sort_values(by=["timestamp"],inplace=True)
df.head()

# Display the merged DataFrame

,userId,movieId,rating,timestamp,tag,title,genres
20218,429,595,5.0,1996-03-29 18:36:55,NaN,Beauty and the Beast (1991),Animation|Children|Fantasy|Musical|Romance|IMAX
31820,429,432,3.0,1996-03-29 18:36:55,NaN,City Slickers II: The Legend of Curly's Gold (...,Adventure|Comedy|Western
76180,429,227,3.0,1996-03-29 18:36:55,NaN,Drop Zone (1994),Action|Thriller
29805,429,225,4.0,1996-03-29 18:36:55,NaN,Disclosure (1994),Drama|Thriller
31903,429,434,4.0,1996-03-29 18:36:55,NaN,Cliffhanger (1993),Action|Adventure|Thriller

In [84]:
df_link=pd.read_csv('links.csv')
df_link

      movieId   imdbId    tmdbId
0           1   114709     862.0
1           2   113497    8844.0
2           3   113228   15602.0
3           4   114885   31357.0
4           5   113041   11862.0
...       ...      ...       ...
9737   193581  5476944  432131.0
9738   193583  5914996  445030.0
9739   193585  6397426  479308.0
9740   193587  8391976  483455.0
9741   193609   101726   37891.0

[9742 rows x 3 columns]

In [99]:
from PyMovieDb import IMDB
import json
def add_tt(x):
    x=str(x)
    reminders=7-len(x)
    tconst= f"tt{reminders*'0'}{x}"
    imdb = IMDB()
    res = imdb.get_by_id(tconst)
    if res =='{"status": 404, "message": "No Result Found!", "result_count": 0, "results": []}': 
          print("error")
          return np.nan
    else:
          data= json.loads(res)
          print(data["poster"])
          return data["poster"]

In [102]:
add_tt(114709)

https://m.media-amazon.com/images/M/MV5BMDU2ZWJlMjktMTRhMy00ZTA5LWEzNDgtYmNmZTEwZTViZWJkXkEyXkFqcGdeQXVyNDQ2OTk4MzI@._V1_.jpg

'https://m.media-amazon.com/images/M/MV5BMDU2ZWJlMjktMTRhMy00ZTA5LWEzNDgtYmNmZTEwZTViZWJkXkEyXkFqcGdeQXVyNDQ2OTk4MzI@._V1_.jpg'

In [103]:
df_link["link"]=df_link["imdbId"].apply(add_tt)

https://m.media-amazon.com/images/M/MV5BMDU2ZWJlMjktMTRhMy00ZTA5LWEzNDgtYmNmZTEwZTViZWJkXkEyXkFqcGdeQXVyNDQ2OTk4MzI@._V1_.jpg
https://m.media-amazon.com/images/M/MV5BZTk2ZmUwYmEtNTcwZS00YmMyLWFkYjMtNTRmZDA3YWExMjc2XkEyXkFqcGdeQXVyMTQxNzMzNDI@._V1_.jpg
https://m.media-amazon.com/images/M/MV5BMjQxM2YyNjMtZjUxYy00OGYyLTg0MmQtNGE2YzNjYmUyZTY1XkEyXkFqcGdeQXVyMTQxNzMzNDI@._V1_.jpg
https://m.media-amazon.com/images/M/MV5BYzcyMDY2YWQtYWJhYy00OGQ2LTk4NzktYWJkNDYwZWJmY2RjXkEyXkFqcGdeQXVyMTA0MjU0Ng@@._V1_.jpg
https://m.media-amazon.com/images/M/MV5BOTEyNzg5NjYtNDU4OS00MWYxLWJhMTItYWU4NTkyNDBmM2Y0XkEyXkFqcGdeQXVyMTQxNzMzNDI@._V1_.jpg
error
https://m.media-amazon.com/images/M/MV5BYjQ5ZjQ0YzQtOGY3My00MWVhLTgzNWItOTYwMTE5N2ZiMDUyXkEyXkFqcGdeQXVyNjUwMzI2NzU@._V1_.jpg
error
https://m.media-amazon.com/images/M/MV5BYWEyODkwYTItZDI1ZC00ODhiLWFkNGMtMTU3NTk2ZGMxYjE3XkEyXkFqcGdeQXVyMjUzOTY1NTc@._V1_.jpg
error
https://m.media-amazon.com/images/M/MV5BNjhkMmU0M2YtZDUwYi00OWE0LWI5NTktODBjNDc1M2ZlMjI4XkEyXkFqcGdeQXVyNDAxNjkxNjQ@._V1_.jpg
error
https://m.media-amazon.com/images/M/MV5BMjBhNmFlZjMtMzhlYy00NDBlLWFiMjctMmE0ZjgwOGM2MTNmXkEyXkFqcGdeQXVyNjExODE1MDc@._V1_.jpg
https://m.media-amazon.com/images/M/MV5BNzBlOWY0ZmEtZjdkYS00ZGU0LWEwN2YtYzBkNDM5ZDBjMmI1XkEyXkFqcGdeQXVyMTAwMzUyOTc@._V1_.jpg
https://m.media-amazon.com/images/M/MV5BNjg0ZjIzMDYtNmUyNS00NzQxLWFhZGQtOGYzMzE0ZWEwM2UxXkEyXkFqcGdeQXVyMDI2NDg0NQ@@._V1_.jpg
error
https://m.media-amazon.com/images/M/MV5BNzk1MjU3MDQyMl5BMl5BanBnXkFtZTcwNjc1OTM2MQ@@._V1_.jpg
error
https://m.media-amazon.com/images/M/MV5BNGFiYTgxZDctNGI4OS00MWU1LWIwOGUtZmMyNGQxYjVkZjQ3XkEyXkFqcGdeQXVyMTQxNzMzNDI@._V1_.jpg
https://m.media-amazon.com/images/M/MV5BNjc3YjQwNGEtODI4Ny00MzgyLWEyMWYtNzMyMjk0MmI4YjY1XkEyXkFqcGdeQXVyMjUzOTY1NTc@._V1_.jpg
https://m.media-amazon.com/images/M/MV5BMjAwODYzNDY4Ml5BMl5BanBnXkFtZTcwODkwNTgzNA@@._V1_.jpg
https://m.media-amazon.com/images/M/MV5BYWUwNDk2ZDYtNmFkMi00NjE5LWE1M2ItYTRkNTFjZDU3ZDU4L2ltYWdlL2ltYWdlXkEyXkFqcGdeQXVyMTYxNjkxOQ@@._V1_.jpg
https://m.media-amazon.com/images/M/MV5BZWY5MGQ1NTQtNzkzNy00YTRkLTk2MjQtZTliNTJiNWZhMzk2XkEyXkFqcGdeQXVyMjUzOTY1NTc@._V1_.jpg
https://m.media-amazon.com/images/M/MV5BOGUzYzNiZTItYmZlNi00ODI1LThjNTMtNjI1MTNlZDQ0OGY2XkEyXkFqcGdeQXVyNjExODE1MDc@._V1_.jpg
https://m.media-amazon.com/images/M/MV5BNDg3MDM5NTI0MF5BMl5BanBnXkFtZTcwNDY0NDk0NA@@._V1_.jpg
https://m.media-amazon.com/images/M/MV5BNzVlMjhjYzctNjQ4My00OGMwLThmZTktODE4MWI3NzNkOWYyXkEyXkFqcGdeQXVyNjMwMjk0MTQ@._V1_.jpg
https://m.media-amazon.com/images/M/MV5BMTM2MDQ1YjUtMGM0NC00NmFlLTljMDktZjJiNWRhMWYxOWYyXkEyXkFqcGdeQXVyNjgzMjI4ODE@._V1_.jpg
https://m.media-amazon.com/images/M/MV5BMTc5NzAwNDAyN15BMl5BanBnXkFtZTYwMjYzMDc5._V1_.jpg
https://m.media-amazon.com/images/M/MV5BYjBlOGFhODEtZThmMS00OTgwLTk0MjAtNDgxNWFhY2JhYTE1XkEyXkFqcGdeQXVyMjUzOTY1NTc@._V1_.jpg
https://m.media-amazon.com/images/M/MV5BODgzNGQyNjEtYTU0My00ZGY2LTg4Y2MtMWNiY2QyZGE1MGRiXkEyXkFqcGdeQXVyNjMwMjk0MTQ@._V1_.jpg
error
https://m.media-amazon.com/images/M/MV5BN2Y2OWU4MWMtNmIyMy00YzMyLWI0Y2ItMTcyZDc3MTdmZDU4XkEyXkFqcGdeQXVyMTQxNzMzNDI@._V1_.jpg
https://m.media-amazon.com/images/M/MV5BYjg4ZjUzMzMtYzlmYi00YTcwLTlkOWUtYWFmY2RhNjliODQzXkEyXkFqcGdeQXVyNTUyMzE4Mzg@._V1_.jpg
https://m.media-amazon.com/images/M/MV5BMTM3NzA1MjM2N15BMl5BanBnXkFtZTcwMzY3MTMzNA@@._V1_.jpg
https://m.media-amazon.com/images/M/MV5BMzdhMGU0MzEtZjg1Ny00YzE5LWE0MGQtMTNiN2UwN2I5ZDBjXkEyXkFqcGdeQXVyNTgzMzU5MDI@._V1_.jpg
https://m.media-amazon.com/images/M/MV5BMzBmOGQ0NWItOTZjZC00ZDAxLTgyOTEtODJiYWQ2YWNiYWVjXkEyXkFqcGdeQXVyNTE1NjY5Mg@@._V1_.jpg
https://m.media-amazon.com/images/M/MV5BMTcwMDU1OTEwOF5BMl5BanBnXkFtZTcwMTg5NjEyMQ@@._V1_.jpg
error
https://m.media-amazon.com/images/M/MV5BNjdhZWEzMzEtMjNhZS00OThhLWFiZWUtM2EwMWU5MWE0MDA4XkEyXkFqcGdeQXVyMTQxNzMzNDI@._V1_.jpg
https://m.media-amazon.com/images/M/MV5BZmQwODk5ZGItMDk5OS00MjU4LTgyYmUtYTBiMTFhYWM5MDY4XkEyXkFqcGdeQXVyMTMxMTY0OTQ@._V1_.jpg
https://m.media-amazon.com/images/M/MV5BNjY5NTEzZGItMGY3My00NzE4LThkYTUtYjJkNzk3MDBiMWE3XkEyXkFqcGdeQXVyNzg5MDE1MDk@._V1_.jpg
https://m.media-amazon.com/images/M/MV5BOGQ2ZjIyMGItZDMzZi00ZThkLTlkM2MtNDRhMTNiNWFlMzVlXkEyXkFqcGdeQXVyMTUzMDUzNTI3._V1_.jpg
https://m.media-amazon.com/images/M/MV5BNGYwZmZkYWItNjdmMi00MjI2LThmOGYtMmI1NTQ0OWQ1YWIxXkEyXkFqcGdeQXVyNzA5NjUyNjM@._V1_.jpg
https://m.media-amazon.com/images/M/MV5BOTUwODM5MTctZjczMi00OTk4LTg3NWUtNmVhMTAzNTNjYjcyXkEyXkFqcGdeQXVyNjU0OTQ0OTY@._V1_.jpg
https://m.media-amazon.com/images/M/MV5BMzc4YzhiN2ItY2Y4NC00YTA0LWEyMjEtNzllNTcxZDdjODhiXkEyXkFqcGdeQXVyNTUyMzE4Mzg@._V1_.jpg
https://m.media-amazon.com/images/M/MV5BNGUxMDM1ODEtZjhjZi00NjVjLWEwNmUtNmZmOTQ1MzQxNmQ3XkEyXkFqcGdeQXVyMTMxMTY0OTQ@._V1_.jpg
https://m.media-amazon.com/images/M/MV5BYTViNjMyNmUtNDFkNC00ZDRlLThmMDUtZDU2YWE4NGI2ZjVmXkEyXkFqcGdeQXVyNjU0OTQ0OTY@._V1_.jpg
https://m.media-amazon.com/images/M/MV5BMTZmNjJmODktMTI1Ni00OWU5LWI0YTctNjc0MzVkNDE3M2Y0XkEyXkFqcGdeQXVyMjUzOTY1NTc@._V1_.jpg
https://m.media-amazon.com/images/M/MV5BNjlmZmQ0ZGUtNTBjYy00ZTg3LWE1NmMtNDAyNDI2Zjc4ZDViXkEyXkFqcGdeQXVyMzIwNDY4NDI@._V1_.jpg

KeyboardInterrupt:

In [65]:
df_link

      movieId     imdbId    tmdbId
0           1  tt0114709     862.0
1           2  tt0113497    8844.0
2           3  tt0113228   15602.0
3           4  tt0114885   31357.0
4           5  tt0113041   11862.0
...       ...        ...       ...
9737   193581  tt5476944  432131.0
9738   193583  tt5914996  445030.0
9739   193585  tt6397426  479308.0
9740   193587  tt8391976  483455.0
9741   193609  tt0101726   37891.0

[9742 rows x 3 columns]

In [67]:

# Merge df1 and df2 based on 'userId' and 'movieId'
df2 = pd.merge(df, df_link[["movieId","imdbId"]], on=['movieId'])
df2.sort_values(by=["timestamp"],inplace=True)
df2.head()

# Display the merged DataFrame

,userId,movieId,rating,timestamp,tag,title,genres,imdbId
0,429,595,5.0,1996-03-29 18:36:55,NaN,Beauty and the Beast (1991),Animation|Children|Fantasy|Musical|Romance|IMAX,tt0101414
223,429,225,4.0,1996-03-29 18:36:55,NaN,Disclosure (1994),Drama|Thriller,tt0109635
275,429,434,4.0,1996-03-29 18:36:55,NaN,Cliffhanger (1993),Action|Adventure|Thriller,tt0106582
376,429,222,4.0,1996-03-29 18:36:55,NaN,Circle of Friends (1995),Drama|Romance,tt0112679
392,429,22,4.0,1996-03-29 18:36:55,NaN,Copycat (1995),Crime|Drama|Horror|Mystery|Thriller,tt0112722

In [105]:
df2.isna().sum()

userId       0
movieId      0
rating       0
timestamp    0
tag          0
title        0
genres       0
imdbId       0
dtype: int64

In [104]:
df2["tag"].fillna("-",inplace=True)

In [69]:
len(df2["userId"].unique())

610

In [106]:
df2

,userId,movieId,rating,timestamp,tag,title,genres,imdbId
0,429,595,5.0,1996-03-29 18:36:55,-,Beauty and the Beast (1991),Animation|Children|Fantasy|Musical|Romance|IMAX,tt0101414
223,429,225,4.0,1996-03-29 18:36:55,-,Disclosure (1994),Drama|Thriller,tt0109635
275,429,434,4.0,1996-03-29 18:36:55,-,Cliffhanger (1993),Action|Adventure|Thriller,tt0106582
376,429,222,4.0,1996-03-29 18:36:55,-,Circle of Friends (1995),Drama|Romance,tt0112679
392,429,22,4.0,1996-03-29 18:36:55,-,Copycat (1995),Crime|Drama|Horror|Mystery|Thriller,tt0112722
...,...,...,...,...,...,...,...,...
100724,514,187031,2.5,2018-09-23 03:55:27,-,Jurassic World: Fallen Kingdom (2018),Action|Adventure|Drama|Sci-Fi|Thriller,tt4881806
100654,514,187595,3.0,2018-09-23 03:55:46,-,Solo: A Star Wars Story (2018),Action|Adventure|Children|Sci-Fi,tt3778644
63759,514,5247,2.5,2018-09-24 02:44:00,-,Smokey and the Bandit (1977),Action|Comedy,tt0076729
63688,514,5246,1.5,2018-09-24 02:44:19,-,Smokey and the Bandit II (1980),Action|Comedy,tt0081529
6295,514,162,4.0,2018-09-24 14:27:30,-,Crumb (1994),Documentary,tt0109508

In [107]:
df2.to_csv("merged.csv",index=False)

In [12]:
df["userId"].sort_values().unique()

array([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,  13,
        14,  15,  16,  17,  18,  19,  20,  21,  22,  23,  24,  25,  26,
        27,  28,  29,  30,  31,  32,  33,  34,  35,  36,  37,  38,  39,
        40,  41,  42,  43,  44,  45,  46,  47,  48,  49,  50,  51,  52,
        53,  54,  55,  56,  57,  58,  59,  60,  61,  62,  63,  64,  65,
        66,  67,  68,  69,  70,  71,  72,  73,  74,  75,  76,  77,  78,
        79,  80,  81,  82,  83,  84,  85,  86,  87,  88,  89,  90,  91,
        92,  93,  94,  95,  96,  97,  98,  99, 100, 101, 102, 103, 104,
       105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117,
       118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130,
       131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143,
       144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156,
       157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169,
       170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182,
       183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194, 195,
       196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207, 208,
       209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220, 221,
       222, 223, 224, 225, 226, 227, 228, 229, 230, 231, 232, 233, 234,
       235, 236, 237, 238, 239, 240, 241, 242, 243, 244, 245, 246, 247,
       248, 249, 250, 251, 252, 253, 254, 255, 256, 257, 258, 259, 260,
       261, 262, 263, 264, 265, 266, 267, 268, 269, 270, 271, 272, 273,
       274, 275, 276, 277, 278, 279, 280, 281, 282, 283, 284, 285, 286,
       287, 288, 289, 290, 291, 292, 293, 294, 295, 296, 297, 298, 299,
       300, 301, 302, 303, 304, 305, 306, 307, 308, 309, 310, 311, 312,
       313, 314, 315, 316, 317, 318, 319, 320, 321, 322, 323, 324, 325,
       326, 327, 328, 329, 330, 331, 332, 333, 334, 335, 336, 337, 338,
       339, 340, 341, 342, 343, 344, 345, 346, 347, 348, 349, 350, 351,
       352, 353, 354, 355, 356, 357, 358, 359, 360, 361, 362, 363, 364,
       365, 366, 367, 368, 369, 370, 371, 372, 373, 374, 375, 376, 377,
       378, 379, 380, 381, 382, 383, 384, 385, 386, 387, 388, 389, 390,
       391, 392, 393, 394, 395, 396, 397, 398, 399, 400, 401, 402, 403,
       404, 405, 406, 407, 408, 409, 410, 411, 412, 413, 414, 415, 416,
       417, 418, 419, 420, 421, 422, 423, 424, 425, 426, 427, 428, 429,
       430, 431, 432, 433, 434, 435, 436, 437, 438, 439, 440, 441, 442,
       443, 444, 445, 446, 447, 448, 449, 450, 451, 452, 453, 454, 455,
       456, 457, 458, 459, 460, 461, 462, 463, 464, 465, 466, 467, 468,
       469, 470, 471, 472, 473, 474, 475, 476, 477, 478, 479, 480, 481,
       482, 483, 484, 485, 486, 487, 488, 489, 490, 491, 492, 493, 494,
       495, 496, 497, 498, 499, 500, 501, 502, 503, 504, 505, 506, 507,
       508, 509, 510, 511, 512, 513, 514, 515, 516, 517, 518, 519, 520,
       521, 522, 523, 524, 525, 526, 527, 528, 529, 530, 531, 532, 533,
       534, 535, 536, 537, 538, 539, 540, 541, 542, 543, 544, 545, 546,
       547, 548, 549, 550, 551, 552, 553, 554, 555, 556, 557, 558, 559,
       560, 561, 562, 563, 564, 565, 566, 567, 568, 569, 570, 571, 572,
       573, 574, 575, 576, 577, 578, 579, 580, 581, 582, 583, 584, 585,
       586, 587, 588, 589, 590, 591, 592, 593, 594, 595, 596, 597, 598,
       599, 600, 601, 602, 603, 604, 605, 606, 607, 608, 609, 610],
      dtype=int64)

In [38]:
from PyMovieDb import IMDB
import json
imdb = IMDB()
res = imdb.get_by_id("tt12593682")

In [41]:
d= json.loads(res)

d

In [43]:
d["poster"]

'https://m.media-amazon.com/images/M/MV5BMDU2ZmM2OTYtNzIxYy00NjM5LTliNGQtN2JmOWQzYTBmZWUzXkEyXkFqcGdeQXVyMTkxNjUyNQ@@._V1_.jpg'

In [5]:
df_link1=pd.read_csv("df_link1.csv",index_col="Unnamed: 0")
df_link2=pd.read_csv("df_link2.csv",index_col="Unnamed: 0")
df_link3=pd.read_csv("df_link3.csv",index_col="Unnamed: 0")
df_link4=pd.read_csv("df_link4.csv",index_col="Unnamed: 0")
df_link5=pd.read_csv("df_link5.csv",index_col="Unnamed: 0")

In [6]:
frames = [df_link1, df_link2, df_link3,df_link4,df_link5]
result = pd.concat(frames)

In [7]:
result

,movieId,imdbId,tmdbId,poster
0,1,114709,862.0,https://m.media-amazon.com/images/M/MV5BMDU2ZW...
1,2,113497,8844.0,https://m.media-amazon.com/images/M/MV5BZTk2Zm...
2,3,113228,15602.0,https://m.media-amazon.com/images/M/MV5BMjQxM2...
3,4,114885,31357.0,https://m.media-amazon.com/images/M/MV5BYzcyMD...
4,5,113041,11862.0,https://m.media-amazon.com/images/M/MV5BOTEyNz...
...,...,...,...,...
9737,193581,5476944,432131.0,https://m.media-amazon.com/images/M/MV5BYjEyZT...
9738,193583,5914996,445030.0,https://m.media-amazon.com/images/M/MV5BMzkwY2...
9739,193585,6397426,479308.0,https://m.media-amazon.com/images/M/MV5BYzVlNW...
9740,193587,8391976,483455.0,https://m.media-amazon.com/images/M/MV5BYmNjNW...
9741,193609,101726,37891.0,https://icon-library.com/images/404-error-icon...

In [9]:
result.to_csv("links_poster.csv",index=False)

In [22]:
df2 = pd.merge(df, result[["movieId","poster"]], on=['movieId'])
df2.sort_values(by=["timestamp"],inplace=True)
df2.head()

,userId,movieId,rating,timestamp,tag,title,genres,poster
0,429,595,5.0,1996-03-29 18:36:55,NaN,Beauty and the Beast (1991),Animation|Children|Fantasy|Musical|Romance|IMAX,https://m.media-amazon.com/images/M/MV5BMzE5MD...
223,429,225,4.0,1996-03-29 18:36:55,NaN,Disclosure (1994),Drama|Thriller,https://m.media-amazon.com/images/M/MV5BNGQxNT...
275,429,434,4.0,1996-03-29 18:36:55,NaN,Cliffhanger (1993),Action|Adventure|Thriller,https://m.media-amazon.com/images/M/MV5BNDllNG...
376,429,222,4.0,1996-03-29 18:36:55,NaN,Circle of Friends (1995),Drama|Romance,https://icon-library.com/images/404-error-icon...
392,429,22,4.0,1996-03-29 18:36:55,NaN,Copycat (1995),Crime|Drama|Horror|Mystery|Thriller,https://icon-library.com/images/404-error-icon...

In [1]:
df2["tag"].fillna("-",inplace=True)

NameError: name 'df2' is not defined

In [25]:
df2.to_csv("merged.csv",index=False)

In [13]:
lst=df_title["title"].to_list()
lst

['Toy Story (1995)',
 'Jumanji (1995)',
 'Grumpier Old Men (1995)',
 'Waiting to Exhale (1995)',
 'Father of the Bride Part II (1995)',
 'Heat (1995)',
 'Sabrina (1995)',
 'Tom and Huck (1995)',
 'Sudden Death (1995)',
 'GoldenEye (1995)',
 'American President, The (1995)',
 'Dracula: Dead and Loving It (1995)',
 'Balto (1995)',
 'Nixon (1995)',
 'Cutthroat Island (1995)',
 'Casino (1995)',
 'Sense and Sensibility (1995)',
 'Four Rooms (1995)',
 'Ace Ventura: When Nature Calls (1995)',
 'Money Train (1995)',
 'Get Shorty (1995)',
 'Copycat (1995)',
 'Assassins (1995)',
 'Powder (1995)',
 'Leaving Las Vegas (1995)',
 'Othello (1995)',
 'Now and Then (1995)',
 'Persuasion (1995)',
 'City of Lost Children, The (Cité des enfants perdus, La) (1995)',
 'Shanghai Triad (Yao a yao yao dao waipo qiao) (1995)',
 'Dangerous Minds (1995)',
 'Twelve Monkeys (a.k.a. 12 Monkeys) (1995)',
 'Babe (1995)',
 'Dead Man Walking (1995)',
 'It Takes Two (1995)',
 'Clueless (1995)',
 'Cry, the Beloved Country (1995)',
 'Richard III (1995)',
 'Dead Presidents (1995)',
 'Restoration (1995)',
 'Mortal Kombat (1995)',
 'To Die For (1995)',
 'How to Make an American Quilt (1995)',
 'Seven (a.k.a. Se7en) (1995)',
 'Pocahontas (1995)',
 'When Night Is Falling (1995)',
 'Usual Suspects, The (1995)',
 'Mighty Aphrodite (1995)',
 'Lamerica (1994)',
 'Big Green, The (1995)',
 'Georgia (1995)',
 'Home for the Holidays (1995)',
 'Postman, The (Postino, Il) (1994)',
 'Indian in the Cupboard, The (1995)',
 'Eye for an Eye (1996)',
 "Mr. Holland's Opus (1995)",
 "Don't Be a Menace to South Central While Drinking Your Juice in the Hood (1996)",
 'Two if by Sea (1996)',
 'Bio-Dome (1996)',
 'Lawnmower Man 2: Beyond Cyberspace (1996)',
 'French Twist (Gazon maudit) (1995)',
 'Friday (1995)',
 'From Dusk Till Dawn (1996)',
 'Fair Game (1995)',
 'Kicking and Screaming (1995)',
 'Misérables, Les (1995)',
 'Bed of Roses (1996)',
 'Big Bully (1996)',
 'Screamers (1995)',
 'Nico Icon (1995)',
 'Crossing Guard, The (1995)',
 'Juror, The (1996)',
 'White Balloon, The (Badkonake sefid) (1995)',
 "Things to Do in Denver When You're Dead (1995)",
 "Antonia's Line (Antonia) (1995)",
 'Once Upon a Time... When We Were Colored (1995)',
 'Angels and Insects (1995)',
 'White Squall (1996)',
 'Dunston Checks In (1996)',
 'Black Sheep (1996)',
 'Nick of Time (1995)',
 'Mary Reilly (1996)',
 'Vampire in Brooklyn (1995)',
 'Beautiful Girls (1996)',
 'Broken Arrow (1996)',
 'In the Bleak Midwinter (1995)',
 'Hate (Haine, La) (1995)',
 'Heidi Fleiss: Hollywood Madam (1995)',
 'City Hall (1996)',
 'Bottle Rocket (1996)',
 'Mr. Wrong (1996)',
 'Unforgettable (1996)',
 'Happy Gilmore (1996)',
 'Bridges of Madison County, The (1995)',
 'Nobody Loves Me (Keiner liebt mich) (1994)',
 'Muppet Treasure Island (1996)',
 'Catwalk (1996)',
 'Braveheart (1995)',
 'Taxi Driver (1976)',
 'Rumble in the Bronx (Hont faan kui) (1995)',
 'Before and After (1996)',
 'Anne Frank Remembered (1995)',
 "Young Poisoner's Handbook, The (1995)",
 'If Lucy Fell (1996)',
 'Steal Big, Steal Little (1995)',
 'Boys of St. Vincent, The (1992)',
 'Boomerang (1992)',
 'Chungking Express (Chung Hing sam lam) (1994)',
 'Flirting With Disaster (1996)',
 'NeverEnding Story III, The (1994)',
 "Jupiter's Wife (1994)",
 'Pie in the Sky (1996)',
 'Jade (1995)',
 'Down Periscope (1996)',
 'Man of the Year (1995)',
 'Up Close and Personal (1996)',
 'Birdcage, The (1996)',
 'Brothers McMullen, The (1995)',
 'Bad Boys (1995)',
 'Amazing Panda Adventure, The (1995)',
 'Basketball Diaries, The (1995)',
 'Awfully Big Adventure, An (1995)',
 'Amateur (1994)',
 'Apollo 13 (1995)',
 'Rob Roy (1995)',
 'Addiction, The (1995)',
 'Batman Forever (1995)',
 'Beauty of the Day (Belle de jour) (1967)',
 'Beyond Rangoon (1995)',
 'Blue in the Face (1995)',
 'Canadian Bacon (1995)',
 'Casper (1995)',
 'Clockers (1995)',
 'Congo (1995)',
 'Crimson Tide (1995)',
 'Crumb (1994)',
 'Desperado (1995)',
 'Devil in a Blue Dress (1995)',
 'Die Hard: With a Vengeance (1995)',
 'Doom Generation, The (1995)',
 'First Knight (1995)',
 'Free Willy 2: The Adventure Home (1995)',
 'Hackers (1995)',
 'Jeffrey (1995)',
 'Johnny Mnemonic (1995)',
 'Judge Dredd (1995)',
 'Jury Duty (1995)',
 'Kids (1995)',
 'Living in Oblivion (1995)',
 'Lord of Illusions (1995)',
 'Love & Human Remains (1993)',
 'Mad Love (1995)',
 'Mallrats (1995)',
 'Mighty Morphin Power Rangers: The Movie (1995)',
 'Mute Witness (1994)',
 'Nadja (1994)',
 'Net, The (1995)',
 'Nine Months (1995)',
 'Party Girl (1995)',
 'Prophecy, The (1995)',
 'Reckless (1995)',
 'Safe (1995)',
 'Scarlet Letter, The (1995)',
 'Showgirls (1995)',
 'Smoke (1995)',
 'Something to Talk About (1995)',
 'Species (1995)',
 'Strange Days (1995)',
 'Umbrellas of Cherbourg, The (Parapluies de Cherbourg, Les) (1964)',
 'Three Wishes (1995)',
 'Total Eclipse (1995)',
 'To Wong Foo, Thanks for Everything! Julie Newmar (1995)',
 'Under Siege 2: Dark Territory (1995)',
 'Unstrung Heroes (1995)',
 'Unzipped (1995)',
 'Walk in the Clouds, A (1995)',
 'Waterworld (1995)',
 "White Man's Burden (1995)",
 'Wild Bill (1995)',
 'Browning Version, The (1994)',
 'Bushwhacked (1995)',
 'Burnt by the Sun (Utomlyonnye solntsem) (1994)',
 'Before the Rain (Pred dozhdot) (1994)',
 'Before Sunrise (1995)',
 'Billy Madison (1995)',
 'Babysitter, The (1995)',
 'Boys on the Side (1995)',
 'Cure, The (1995)',
 'Castle Freak (1995)',
 'Circle of Friends (1995)',
 'Clerks (1994)',
 'Don Juan DeMarco (1995)',
 'Disclosure (1994)',
 'Drop Zone (1994)',
 'Destiny Turns on the Radio (1995)',
 'Death and the Maiden (1994)',
 'Dolores Claiborne (1995)',
 'Dumb & Dumber (Dumb and Dumber) (1994)',
 'Eat Drink Man Woman (Yin shi nan nu) (1994)',
 'Exotica (1994)',
 'Exit to Eden (1994)',
 'Ed Wood (1994)',
 'French Kiss (1995)',
 'Forget Paris (1995)',
 'Far From Home: The Adventures of Yellow Dog (1995)',
 'Goofy Movie, A (1995)',
 'Hideaway (1995)',
 'Fluke (1995)',
 'Farinelli: il castrato (1994)',
 'Gordy (1995)',
 'Hoop Dreams (1994)',
 'Heavenly Creatures (1994)',
 'Houseguest (1994)',
 'Immortal Beloved (1994)',
 'Heavyweights (Heavy Weights) (1995)',
 'Hunted, The (1995)',
 'I.Q. (1994)',
 'Interview with the Vampire: The Vampire Chronicles (1994)',
 'Jefferson in Paris (1995)',
 'Jerky Boys, The (1995)',
 'Junior (1994)',
 'Just Cause (1995)',
 "Kid in King Arthur's Court, A (1995)",
 'Kiss of Death (1995)',
 'Star Wars: Episode IV - A New Hope (1977)',
 'Little Women (1994)',
 'Little Princess, A (1995)',
 'Ladybird Ladybird (1994)',
 'Like Water for Chocolate (Como agua para chocolate) (1992)',
 'Legends of the Fall (1994)',
 'Major Payne (1995)',
 'My Crazy Life (Mi vida loca) (1993)',
 'Love Affair (1994)',
 'Losing Isaiah (1995)',
 'Madness of King George, The (1994)',
 "Mary Shelley's Frankenstein (Frankenstein) (1994)",
 'Man of the House (1995)',
 'Mixed Nuts (1994)',
 'Milk Money (1994)',
 'Miracle on 34th Street (1994)',
 'Miami Rhapsody (1995)',
 'My Family (1995)',
 'Murder in the First (1995)',
 "Nobody's Fool (1994)",
 'Nell (1994)',
 'New Jersey Drive (1995)',
 'New York Cop (Nyû Yôku no koppu) (1993)',
 'Beyond Bedlam (1993)',
 'Nina Takes a Lover (1994)',
 'Natural Born Killers (1994)',
 'Only You (1994)',
 'Once Were Warriors (1994)',
 'Poison Ivy II (1996)',
 'Outbreak (1995)',
 'Léon: The Professional (a.k.a. The Professional) (Léon) (1994)',
 'Perez Family, The (1995)',
 "Pyromaniac's Love Story, A (1995)",
 'Pulp Fiction (1994)',
 'Pushing Hands (Tui shou) (1992)',
 'Priest (1994)',
 'Quiz Show (1994)',
 'Picture Bride (Bijo photo) (1994)',
 'Queen Margot (Reine Margot, La) (1994)',
 'Quick and the Dead, The (1995)',
 'Roommates (1995)',
 'Ready to Wear (Pret-A-Porter) (1994)',
 'Three Colors: Red (Trois couleurs: Rouge) (1994)',
 'Three Colors: Blue (Trois couleurs: Bleu) (1993)',
 'Three Colors: White (Trzy kolory: Bialy) (1994)',
 'Rent-a-Kid (1995)',
 'Relative Fear (1994)',
 'Stuart Saves His Family (1995)',
 'Swan Princess, The (1994)',
 'Secret of Roan Inish, The (1994)',
 'Specialist, The (1994)',
 'Stargate (1994)',
 'Santa Clause, The (1994)',
 'Shawshank Redemption, The (1994)',
 'Shallow Grave (1994)',
 'Suture (1993)',
 'Strawberry and Chocolate (Fresa y chocolate) (1993)',
 'Swimming with Sharks (1995)',
 'Sum of Us, The (1994)',
 "National Lampoon's Senior Trip (1995)",
 'To Live (Huozhe) (1994)',
 'Tank Girl (1995)',
 'Tales from the Crypt Presents: Demon Knight (1995)',
 'Star Trek: Generations (1994)',
 'Tales from the Hood (1995)',
 'Tom & Viv (1994)',
 'Village of the Damned (1995)',
 'Tommy Boy (1995)',
 'Vanya on 42nd Street (1994)',
 'Underneath (1995)',
 'Walking Dead, The (1995)',
 "What's Eating Gilbert Grape (1993)",
 'Virtuosity (1995)',
 'While You Were Sleeping (1995)',
 'War, The (1994)',
 'Double Happiness (1994)',
 "Muriel's Wedding (1994)",
 'Baby-Sitters Club, The (1995)',
 'Ace Ventura: Pet Detective (1994)',
 'Adventures of Priscilla, Queen of the Desert, The (1994)',
 'Backbeat (1993)',
 'Bitter Moon (1992)',
 'Bullets Over Broadway (1994)',
 'Clear and Present Danger (1994)',
 'Client, The (1994)',
 'Corrina, Corrina (1994)',
 'Crooklyn (1994)',
 'Crow, The (1994)',
 'Cobb (1994)',
 'Flintstones, The (1994)',
 'Forrest Gump (1994)',
 'Four Weddings and a Funeral (1994)',
 'Higher Learning (1995)',
 'I Like It Like That (1994)',
 'I Love Trouble (1994)',
 'It Could Happen to You (1994)',
 'Jungle Book, The (1994)',
 'Wonderful, Horrible Life of Leni Riefenstahl, The (Macht der Bilder: Leni Riefenstahl, Die) (1993)',
 'Lion King, The (1994)',
 'Little Buddha (1993)',
 "Wes Craven's New Nightmare (Nightmare on Elm Street Part 7: Freddy's Finale, A) (1994)",
 'Mask, The (1994)',
 'Maverick (1994)',
 'Mrs. Parker and the Vicious Circle (1994)',
 'Naked Gun 33 1/3: The Final Insult (1994)',
 'Paper, The (1994)',
 'Reality Bites (1994)',
 'Red Rock West (1992)',
 'Richie Rich (1994)',
 'River Wild, The (1994)',
 'Speed (1994)',
 'Speechless (1994)',
 'Timecop (1994)',
 'True Lies (1994)',
 'When a Man Loves a Woman (1994)',
 'Wolf (1994)',
 'Wyatt Earp (1994)',
 'Bad Company (1995)',
 'Man of No Importance, A (1994)',
 'S.F.W. (1994)',
 'Low Down Dirty Shame, A (1994)',
 'Boys Life (1995)',
 'Colonel Chabert, Le (1994)',
 'Faster Pussycat! Kill! Kill! (1965)',
 "Jason's Lyric (1994)",
 'Street Fighter (1994)',
 'Highlander III: The Sorcerer (a.k.a. Highlander: The Final Dimension) (1994)',
 'Federal Hill (1994)',
 'In the Mouth of Madness (1995)',
 '8 Seconds (1994)',
 'Above the Rim (1994)',
 'Addams Family Values (1993)',
 'Age of Innocence, The (1993)',
 'Airheads (1994)',
 'Air Up There, The (1994)',
 'Another Stakeout (1993)',
 'Bad Girls (1994)',
 'Barcelona (1994)',
 'Being Human (1993)',
 'Beverly Hillbillies, The (1993)',
 'Beverly Hills Cop III (1994)',
 'Black Beauty (1994)',
 'Blink (1994)',
 'Blown Away (1994)',
 'Blue Chips (1994)',
 'Blue Sky (1994)',
 'Body Snatchers (1993)',
 'Boxing Helena (1993)',
 'Bronx Tale, A (1993)',
 'Cabin Boy (1994)',
 'Calendar Girl (1993)',
 "Carlito's Way (1993)",
 "City Slickers II: The Legend of Curly's Gold (1994)",
 'Clean Slate (1994)',
 'Cliffhanger (1993)',
 'Coneheads (1993)',
 'Color of Night (1994)',
 'Cops and Robbersons (1994)',
 'Cowboy Way, The (1994)',
 'Dave (1993)',
 'Dazed and Confused (1993)',
 'Demolition Man (1993)',
 'Even Cowgirls Get the Blues (1993)',
 'Fatal Instinct (1993)',
 'Farewell My Concubine (Ba wang bie ji) (1993)',
 'Fearless (1993)',
 'Fear of a Black Hat (1994)',
 'With Honors (1994)',
 'Flesh and Bone (1993)',
 "Widows' Peak (1994)",
 'For Love or Money (1993)',
 'Firm, The (1993)',
 'Free Willy (1993)',
 'Fresh (1994)',
 'Fugitive, The (1993)',
 'Geronimo: An American Legend (1993)',
 'Getaway, The (1994)',
 'Getting Even with Dad (1994)',
 'Go Fish (1994)',
 'Hard Target (1993)',
 'Hot Shots! Part Deux (1993)',
 'Live Nude Girls (1995)',
 'Englishman Who Went Up a Hill But Came Down a Mountain, The (1995)',
 'House of the Spirits, The (1993)',
 'House Party 3 (1994)',
 'Hudsucker Proxy, The (1994)',
 "I'll Do Anything (1994)",
 'In the Army Now (1994)',
 'In the Line of Fire (1993)',
 'In the Name of the Father (1993)',
 'Inkwell, The (1994)',
 "What's Love Got to Do with It? (1993)",
 'Jimmy Hollywood (1994)',
 'Judgment Night (1993)',
 'Jurassic Park (1993)',
 'Kalifornia (1993)',
 'Killing Zoe (1994)',
 'Lassie (1994)',
 'Last Action Hero (1993)',
 'Life with Mikey (1993)',
 'Lightning Jack (1994)',
 'M. Butterfly (1993)',
 'Made in America (1993)',
 'Malice (1993)',
 'Man Without a Face, The (1993)',
 'Manhattan Murder Mystery (1993)',
 'Menace II Society (1993)',
 'Executive Decision (1996)',
 'In the Realm of the Senses (Ai no corrida) (1976)',
 'What Happened Was... (1994)',
 'Much Ado About Nothing (1993)',
 'Mr. Wonderful (1993)',
 'Mrs. Doubtfire (1993)',
 'Naked (1993)',
 'Next Karate Kid, The (1994)',
 'No Escape (1994)',
 'North (1994)',
 'Orlando (1992)',
 'Perfect World, A (1993)',
 'Philadelphia (1993)',
 'Piano, The (1993)',
 'Poetic Justice (1993)',
 'Program, The (1993)',
 'Puppet Masters, The (1994)',
 'Radioland Murders (1994)',
 'Ref, The (1994)',
 'Remains of the Day, The (1993)',
 'Renaissance Man (1994)',
 'Rising Sun (1993)',
 'Road to Wellville, The (1994)',
 'RoboCop 3 (1993)',
 'Robin Hood: Men in Tights (1993)',
 'Romeo Is Bleeding (1993)',
 'Romper Stomper (1992)',
 'Ruby in Paradise (1993)',
 'Rudy (1993)',
 'Savage Nights (Nuits fauves, Les) (1992)',
 "Schindler's List (1993)",
 'Scout, The (1994)',
 'Searching for Bobby Fischer (1993)',
 'Secret Garden, The (1993)',
 'Serial Mom (1994)',
 'Shadow, The (1994)',
 'Shadowlands (1993)',
 'Short Cuts (1993)',
 'Simple Twist of Fate, A (1994)',
 'Sirens (1994)',
 'Six Degrees of Separation (1993)',
 'Sleepless in Seattle (1993)',
 'Sliver (1993)',
 'Blade Runner (1982)',
 'Son in Law (1993)',
 'So I Married an Axe Murderer (1993)',
 'Striking Distance (1993)',
 'Super Mario Bros. (1993)',
 'Surviving the Game (1994)',
 'Terminal Velocity (1994)',
 'Thirty-Two Short Films About Glenn Gould (1993)',
 'Threesome (1994)',
 'Nightmare Before Christmas, The (1993)',
 'Three Musketeers, The (1993)',
 'Tombstone (1993)',
 'True Romance (1993)',
 'War Room, The (1993)',
 'Pagemaster, The (1994)',
 'Welcome to the Dollhouse (1995)',
 'Germinal (1993)',
 'Chasers (1994)',
 'Kika (1993)',
 'Bhaji on the Beach (1993)',
 'Little Big League (1994)',
 'Ciao, Professore! (Io speriamo che me la cavo) (1992)',
 'Spanking the Monkey (1994)',
 'Little Rascals, The (1994)',
 'Andre (1994)',
 'Escort, The (Scorta, La) (1993)',
 'Princess Caraboo (1994)',
 'Celluloid Closet, The (1995)',
 'Dear Diary (Caro Diario) (1994)',
 'Brady Bunch Movie, The (1995)',
 'Home Alone (1990)',
 'Ghost (1990)',
 'Aladdin (1992)',
 'Terminator 2: Judgment Day (1991)',
 'Dances with Wolves (1990)',
 'Batman (1989)',
 'Silence of the Lambs, The (1991)',
 'Snow White and the Seven Dwarfs (1937)',
 'Beauty and the Beast (1991)',
 'Pinocchio (1940)',
 'Pretty Woman (1990)',
 'Wild Bunch, The (1969)',
 'Love and a .45 (1994)',
 'Great Day in Harlem, A (1994)',
 'One Fine Day (1996)',
 'Candyman: Farewell to the Flesh (1995)',
 'Fargo (1996)',
 'Homeward Bound II: Lost in San Francisco (1996)',
 'Heavy Metal (1981)',
 'Hellraiser: Bloodline (1996)',
 'Pallbearer, The (1996)',
 'Jane Eyre (1996)',
 'Bread and Chocolate (Pane e cioccolata) (1973)',
 'Aristocats, The (1970)',
 'Flower of My Secret, The (La flor de mi secreto) (1995)',
 'Two Much (1995)',
 'Ed (1996)',
 'Thin Line Between Love and Hate, A (1996)',
 'Last Supper, The (1995)',
 'Primal Fear (1996)',
 'All Dogs Go to Heaven 2 (1996)',
 'Land and Freedom (Tierra y libertad) (1995)',
 'Denise Calls Up (1995)',
 'Theodore Rex (1995)',
 'Family Thing, A (1996)',
 'Frisk (1995)',
 'Sgt. Bilko (1996)',
 'Jack and Sarah (1995)',
 'Girl 6 (1996)',
 'Diabolique (1996)',
 'Nelly & Monsieur Arnaud (1995)',
 'Courage Under Fire (1996)',
 'Mission: Impossible (1996)',
 'Cold Fever (Á köldum klaka) (1995)',
 'Moll Flanders (1996)',
 'Dragonheart (1996)',
 'Eddie (1996)',
 'James and the Giant Peach (1996)',
 'Fear (1996)',
 'Kids in the Hall: Brain Candy (1996)',
 'Underground (1995)',
 'Bloodsport 2 (a.k.a. Bloodsport II: The Next Kumite) (1996)',
 'Song of the Little Road (Pather Panchali) (1955)',
 'World of Apu, The (Apur Sansar) (1959)',
 'Mystery Science Theater 3000: The Movie (1996)',
 'Space Jam (1996)',
 'Barbarella (1968)',
 'Some Folks Call It a Sling Blade (1993)',
 'Run of the Country, The (1995)',
 'Alphaville (Alphaville, une étrange aventure de Lemmy Caution) (1965)',
 "It's My Party (1996)",
 'Operation Dumbo Drop (1995)',
 'Mrs. Winterbourne (1996)',
 'Solo (1996)',
 'Substitute, The (1996)',
 'True Crime (1996)',
 'Feeling Minnesota (1996)',
 'Delta of Venus (1995)',
 'Angus (1995)',
 'Boys (1996)',
 'Quest, The (1996)',
 'Sunset Park (1996)',
 'Mulholland Falls (1996)',
 'Truth About Cats & Dogs, The (1996)',
 'Oliver & Company (1988)',
 'Celtic Pride (1996)',
 'Flipper (1996)',
 'Dead Man (1995)',
 'Horseman on the Roof, The (Hussard sur le toit, Le) (1995)',
 'Visitors, The (Visiteurs, Les) (1993)',
 'Multiplicity (1996)',
 'Wallace & Gromit: The Best of Aardman Animation (1996)',
 'Haunted World of Edward D. Wood Jr., The (1996)',
 'Craft, The (1996)',
 'Great White Hype, The (1996)',
 'Last Dance (1996)',
 'Cold Comfort Farm (1995)',
 "Heaven's Prisoners (1996)",
 'Rock, The (1996)',
 'Cemetery Man (Dellamorte Dellamore) (1994)',
 'Twister (1996)',
 'Barb Wire (1996)',
 'Ghost in the Shell (Kôkaku kidôtai) (1995)',
 'Thinner (1996)',
 'Spy Hard (1996)',
 'Wallace & Gromit: A Close Shave (1995)',
 'Stupids, The (1996)',
 'Arrival, The (1996)',
 'Dr. Strangelove or: How I Learned to Stop Worrying and Love the Bomb (1964)',
 'Ashes of Time (Dung che sai duk) (1994)',
 'Maya Lin: A Strong Clear Vision (1994)',
 'Stalingrad (1993)',
 'Phantom, The (1996)',
 'Striptease (1996)',
 'Heavy (1995)',
 'Jack (1996)',
 'I Shot Andy Warhol (1996)',
 'Touki Bouki (1973)',
 'Spirits of the Dead (1968)',
 'Trainspotting (1996)',
 "'Til There Was You (1997)",
 'Independence Day (a.k.a. ID4) (1996)',
 'Stealing Beauty (1996)',
 'Fan, The (1996)',
 'Hunchback of Notre Dame, The (1996)',
 'Cable Guy, The (1996)',
 'Kingpin (1996)',
 'Eraser (1996)',
 'Nutty Professor, The (1996)',
 'Unforgettable Summer, An (Un été inoubliable) (1994)',
 'Last Klezmer: Leopold Kozlowski, His Life and Music, The (1994)',
 'Somebody to Love (1994)',
 'Daylight (1996)',
 'Frighteners, The (1996)',
 'Lone Star (1996)',
 'Harriet the Spy (1996)',
 'Phenomenon (1996)',
 'Walking and Talking (1996)',
 "She's the One (1996)",
 'Time to Kill, A (1996)',
 'American Buffalo (1996)',
 'Alaska (1996)',
 'Fled (1996)',
 'Kazaam (1996)',
 'Larger Than Life (1996)',
 'Very Brady Sequel, A (1996)',
 'Collector, The (La collectionneuse) (1967)',
 'Kaspar Hauser (1993)',
 'Adventures of Pinocchio, The (1996)',
 "Joe's Apartment (1996)",
 'First Wives Club, The (1996)',
 'Ransom (1996)',
 'High School High (1996)',
 'Foxfire (1996)',
 'Chain Reaction (1996)',
 'Matilda (1996)',
 'Emma (1996)',
 'Crow: City of Angels, The (1996)',
 'House Arrest (1996)',
 'Eyes Without a Face (Yeux sans visage, Les) (1959)',
 'Tales from the Crypt Presents: Bordello of Blood (1996)',
 'Spitfire Grill, The (1996)',
 'Escape from L.A. (1996)',
 'Basquiat (1996)',
 'Tin Cup (1996)',
 'Godfather, The (1972)',
 'Supercop (Police Story 3: Supercop) (Jing cha gu shi III: Chao ji jing cha) (1992)',
 'Bound (1996)',
 'Carpool (1996)',
 'Kansas City (1996)',
 "Gone Fishin' (1997)",
 'Nothing to Lose (1994)',
 'Supercop 2 (Project S) (Chao ji ji hua) (1993)',
 'Relic, The (1997)',
 'Island of Dr. Moreau, The (1996)',
 'First Kid (1996)',
 'Trigger Effect, The (1996)',
 'Bogus (1996)',
 'Bulletproof (1996)',
 'Land Before Time III: The Time of the Great Giving (1995)',
 '1-900 (06) (1994)',
 'Halloween: The Curse of Michael Myers (Halloween 6: The Curse of Michael Myers) (1995)',

In [19]:
file_path = "user_list.txt"

# Convert the list to a string
user_list_str = ",\n".join(f'"{item}"' for item in lst)

# Open the file in write mode
with open(file_path, "w") as file:
    # Write the string representation of the list to the file
    file.write(user_list_str)